---
---

@import "{{ site.theme }}";

.page-header {
	color: black;
	background-color: white;
	background-image: none;
}

.btn {
    color: rgb(96, 108, 113);
    background-color:rgba(239, 239, 239, 0.5);
    border-color: rgba(96, 108, 113, 0.7);
    padding: 0.75rem 1rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.3em;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}


.btn:hover {
    color: rgba(96, 108, 113, 0.7);
    background-color:rgba(239, 239, 239, 0.7);
    border-color: rgba(96, 108, 113, 0.7);
}


#tool-links {
    margin-top: 2em;
    margin-bottom: 2em;
}

#tool-links button {
    color: rgb(96, 108, 113);
    padding: 0.75rem 1rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.3em;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

#tool-links button:hover {
    color: rgba(96, 108, 113, 0.7);
    background-color:rgba(239, 239, 239, 0.7);
    border-color: rgba(96, 108, 113, 0.7);
}

#tool-links .inactive {
    color: rgb(131, 138, 141);
    background-color:rgba(239, 239, 239, 0.5);
    border-color: rgba(96, 108, 113, 0.7);
}

main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	color: black;
	font-weight: bold;
}

.pointer:hover {
	cursor: pointer;
}
